<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:tal="http://xml.zope.org/namespaces/tal">
<head>
  <title>TxtMnky</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
  <meta name="keywords" content="python web application" />
  <meta name="description" content="pyramid web application" />
  <link rel="shortcut icon" href="${request.appplication_url}}/static/favicon.ico" />
  <link rel="stylesheet" href="{{request.application_url}}/static/css/bootstrap.css" type="text/css" media="screen" charset="utf-8" />
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.js"></script>
  <script type="text/javascript"> 
  $(function() {  
    
        $('.icon-plus').live('click', function() {
                $('.control-group.hidden:first').removeClass("hidden"); 
                $(this).hide()
                if ($('.control-group.hidden').size()==0){
                  $('.icon-plus').hide();
                }
                return false;

        });   
  });
  </script>

  <script src="{{request.application_url}}/static/js/bootstrap.js"></script>
  <link rel="stylesheet" href="http://static.pylonsproject.org/fonts/neuton/stylesheet.css" media="screen" />
  <!--[if lte IE 6]>
  <link rel="stylesheet" href="${request.static_url('txtmonkey:static/ie6.css')}" type="text/css" media="screen" charset="utf-8" />
  <![endif]-->
<style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
      .hidden {display: none;}
      .brand {font-family:Arial, Helvetica, sans-serif;}
      .controls textarea {width:360px;}
       .controls input {width:360px;}
    </style>
</head>
<body>
  
    <div class="navbar"style= "color: #000000;">
    <div class="container" style= "color: #000000;">
      <div class="navbar-inner clearfix" style="height: 50px; padding:50px;" >
        <a class="brand" href="/">
          <span class= "logo-text" style="font-size:70px;color: #AABD00;"><strong>@(0_0)@ </strong></span>
          <span class="logo-text" style= "font-size:80px; color: #FFFFFF;"> <strong> TxtMnky<strong></span>
        </a>
      </div>
    </div>
  </div>
  <div class="container-narrow">
     
      <hr>
      <div class="hero-unit">
      
        <h1 align="center">Send Surveys Over Text Message</h1>
        <p align="center"class="lead">Get Results From All Over the World.</p>
      
      
        <form  action= "{{request.route_url('survey_create')}}" class="form-horizontal" id="send_survey"method= "POST">

          <div class="control-group">
            <label class="control-label" for="number">Respondent cell phone</label>
            <div class="controls">
              <textarea rows="3" name="respondent_number" placeholder="5555555555, 3333333333"></textarea> 
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="question">Survey Question 1</label>
            <div class="controls">
              <input type="text" name="question_1" placeholder="How many vaccines do you need?">
                <i class="icon-plus" style="text-align:center;"></i>  
            </div>
          </div>

           <div class="control-group hidden">
            <label class="control-label" for="question">Survey Question 2</label>
            <div class="controls">
              <input type="text" name="question_2" placeholder="How many people need medical aid?">
               <i class="icon-plus" style="text-align:center;"></i> 
            </div>
          </div>

          <div class="control-group hidden">
            <label class="control-label" for="question">Survey Question 3</label>
            <div class="controls">
              <input type="text" name="question_3" placeholder="question">
               <i class="icon-plus" style="text-align:center;"></i> 
            </div>
          </div>
            <div class="control-group">
            <div class="controls">
              <input type="submit" class="btn">
            </div>
          </div>

         
        </form>
      </div>
      <div class="row-fluid marketing">
        <div class="span6">
          <h4>Track Surveys</h4>
          <p>Track phone numbers of people who response to your surveys.</p>

          <h4>Send Multiple Questions</h4>
          <p> Send easy to anwser questions. Sends one at a time after receiving a response.</p>

          <h4>Send to Multiple Phone Numbers</h4>
          <p>send surveys to as many people as you need.</p>
        </div>

        <div class="span6">
          <h4>International Surveys</h4>
          <p>It hard to reach remote around that do not have internet. </p>

          <h4>Custumer Satisfaction </h4>
          <p>Send text surveys that are simple to use and response. Check to see custumer Satisfaction</p>

          <h4>Reach More People, Everywhere</h4>
          <p>Can be used by smartphone and non-smartphone users with or without apps or internet access</p>
        </div>
      </div>

      <hr>

      <div class="footer">
        <p>&copy; TxtMnky 2013</p>
      </div>

    </div> <!-- /container -->


</body>
</html>
